.navbar-color {
    background-color: #563d7c;
}

.navbar-text-color {
    color: white !important;
}

.form-control {
    width: 75% !important;
}

.form-inline {
    width: 100%;
}

.table-color-grey {
    background-color: #e9ecef;
}
