.navbar-color {
    background-color: #563d7c;
}

.navbar-text-color {
    color: white !important;
}

.left-bar {
    background-color: #b39ddb;
    min-height: calc(100vh - 55px);
}
.right-side {
    background-color: white;
    min-height: calc(100vh - 55px);
}

.round-btn {
    border-radius: 10px !important;
    border: none;
}

.plus-right {
    float: right;

}
.font-fam{
    font-family: "Montserrat";
}

.container-display {
    display: flex;
}

.active {
    background-color: white;
    border-radius: 5px;
    color: black !important;
}

.mid-layer {
    float: right;
    display: inline;
    margin-right: 4rem;
}