.header {
    padding: 50px;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 15px;
    font-family: "Montserrat";

}

.welcome-image {
    width: 100%;
    margin-top: 1rem;
    border-radius: 15px;

}
h2{
    font-size: 3rem;
}